.side-menu-toggle
	position: fixed
	z-index: 1000
	top: 0
	left: 0
	height: 100vh
	border: none
	padding: 0 7px

	span.hidden
		display: none

	&:hover
		span.hidden
			display: inline-block

@media (max-width: 767.98px)
	.side-menu-toggle
		display: none
