.data-grid-container
	.cui-button
		&.theme-primary
			color: red
			background: #fff

.translatedFields
	display: flex
	gap: 10px
	> .cui-field-container
		flex: 1

.refinements
	display: grid
	grid-template-columns: repeat(3, 1fr)
	gap: 2em

.deleted-offer
	font-weight: bold
	color: red
	font-size: 1.2em
	padding: 3px 5px
	border-radius: 3px
	background: #fff
	border: 1px solid red
	display: inline-block
